In [3]:
import pandas as pd

uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
dados = pd.read_csv(uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [9]:
mapa = {
    "home" : "principal",
    "how_it_works": "como_funciona",
    "contact" : "contato",
    "bought" : "comprou"
}
dados = dados.rename(columns= mapa)

In [10]:
x = dados[["principal", "como_funciona", "contato"]]
y = dados[["comprou"]]
y.head()

   comprou
0        0
1        0
2        0
3        0
4        0

In [11]:
x.head()

   principal  como_funciona  contato
0          1              1        0
1          1              1        0
2          1              1        0
3          1              1        0
4          1              1        0

In [13]:
dados.shape

(99, 4)

In [15]:
treino_x = x[:75]
treino_y = y[:75]
teste_x = x[75:]
teste_y = y[75:]

print("Treinando com %d elementos e testando com %d eleementos" %(len(treino_x), len(teste_x)))

Treinando com 75 elementos e testando com 24 eleementos

In [22]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

taxa_de_acerto = accuracy_score(teste_y, previsoes) * 100
print("Acur치cia: %.2f%%" % taxa_de_acerto)

Acur치cia: 95.83%

C:\Users\lucas\AppData\Roaming\Python\Python310\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

#Usando a biblioteca para separar treino e teste

In [35]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, random_state = SEED, test_size=0.25, stratify=y)
print("Treinando com %d elementos e testando com %d eleementos" %(len(treino_x), len(teste_x)))

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

taxa_de_acerto = accuracy_score(teste_y, previsoes) * 100
print("Acur치cia: %.2f%%" % taxa_de_acerto)

Treinando com 74 elementos e testando com 25 eleementos
Acur치cia: 96.00%

C:\Users\lucas\AppData\Roaming\Python\Python310\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [36]:
treino_y.value_counts()

comprou
0          49
1          25
dtype: int64

In [37]:
teste_y.value_counts()

comprou
0          17
1           8
dtype: int64